.contacts {
    white-space: nowrap;

    &-number {
        font-family: 'Montserrat-Medium';
        font-size: 1.375rem;
        line-height: 1.688rem;
        color: $primary;
        transition: 0.5s ease color;

        &:hover {
            color: $primary-hov;
        }
    }
}