.hero.visible{
    background: url(/img/main/bcg-main.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.hero {
    height: 52.5rem;
    margin-bottom: 8.75rem;

    @media(max-width:1599.98px) {
        margin-bottom: 8vw;
      }
    @media(max-width:1599.98px) {
        @include adaptiv(height, 52.5, 38.75);
    }

    @media(max-width:1024.98px) {
        @include adaptiv(height, 38.75, 30.75);
    }

    @media(max-width:768.98px) {
        @include adaptiv(height, 30, 25.75);
    }
    @media(max-width:768.98px){
        
    }
    @media(max-width:425.98px) {
        @include adaptiv(height, 25, 20.75);
    }

    &__container {
        height: inherit;
    }

    &__inner {
        height: inherit;
        display: flex;
        align-items: center;

        @media(max-width:450.98px) {
            justify-content: center;
        }
    }

    &__main {
        font-family: "Montserrat-Light", sans-serif;
        color: white;
        font-size: 3.75rem;
        line-height: 160%;
        font-weight: normal;

        @media(max-width:1440.98px) {
            @include adaptiv(font-size, 3.75, 3);
        }

        @media(max-width:1024.98px) {
            @include adaptiv(font-size, 3, 2.2);
        }

        @media(max-width:768.98px) {
            @include adaptiv(font-size, 2.2, 1.5);
            line-height: 2.2rem;
        }

        @media(max-width:450.98px) {
            @include adaptiv(font-size, 1.5, 1.3);
            line-height: 1.5rem;
        }

        @media(max-width:375.98px) {
            @include adaptiv(font-size, 1.3, 1.1);
            line-height: 1.5rem;
        }
    }

    &__subtitle {
        font-family: "Montserrat-SemiBold";
    }
    &__btn{
        margin-top: 80px;
        @media(max-width:1600.98px){
            margin-top: 60px;
        }
        @media(max-width:768.98px){
            margin-top: 7vw;
        }
        @media(max-width:450.98px){
            margin-top: 10vw;
        }
        @media(max-width:375.98px){
            margin-top: 15vw;
        }
    }
}
