.main {
    padding-top: 11.313rem;

    @media(max-width:940.98px) {
        padding-top: 9.656rem;
    }

    @media(max-width:940.98px) {
        padding-top: 9.656rem;
    }

    @media(max-width:768.98px) {
        padding-top: 7.313rem;
    }

    @media(max-width:425.98px) {
        padding-top: 5.938rem;
    }
}