.swiper {
    width: 100%;
    height: 31.563rem;
    border-radius: 0.125rem;
    cursor: grab;

    @media(max-width:1440.98px) {
        height: 31.25rem;
    }

    @media(max-width:1280.98px) {
        height: 30.875rem;
    }

    @media(max-width:991.98px) {
        max-width: 53.125rem;
        height: 22rem;
    }

    @media(max-width:768.98px) {
        height: 19.375rem;
    }

    @media(max-width:320.98px) {
        min-height: 15.625rem;
    }

    @media(max-width:320.98px) {
        min-height: 15.625rem;
    }
}

.card {
    max-width: 33.313rem;

    @media(max-width:991.98px) {
        max-width: 18.75rem;
    }

    &__img {
        object-fit: cover;

        @media(max-width:1280.98px) {}
    }

    &__name {
        margin-top: 1.25rem;
    }

}