footer(class="footer")
    .footer__container 
        a(class="",href="./")
            img(class="logo footer-logo", src="./img/logo.svg" loading="lazyload" width="180" height="85.34" alt="Логотип Online-Service")
        div(class="")
            a(class="contacts-number footer-contacts", href="tel:+7 800 200 30 71") +7 800 200 30 71
            