head
   meta(charset="UTF-8")
   meta(http-equiv="X-UA-Compatible", content="IE=edge")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   title Online-Service
   link(rel="stylesheet", href="./styles/main.css")

   meta(http-equiv="Cache-control" content="dist")
   meta(name="description", content="Online-Service - создание сайтов, лендингов под ключ" )
   meta(name="theme-color", content="#111111")
   link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")