header(class="header")
    div(class="header__container")
        a(class="header__logo",href="./")
            img(class="logo", src="./img/logo.svg" loading="lazyload" width="180" height="85.34" alt="Логотип Online-Service")
        nav(class="menu", title="Главное меню", data-menu)
            ul(class="list-reset menu__list", )
                li(class="menu__item")
                    a(href="#", target="_blank", aria-label="Наша компания", class="menu__link", data-menu-item) О компании
                li(class="menu__item")
                    a(href="#", target="_blank", aria-label="Наши интервью", class="menu__link", data-menu-item) Интервью
                li(class="menu__item")
                    a(href="#", target="_blank", aria-label="Наши Факторы", class="menu__link", data-menu-item) Факторы
                li(class="menu__item")
                    a(href="#", target="_blank", aria-label="Наши Эксперты", class="menu__link", data-menu-item) Эксперты
            button(class="btn-reset burger-close", aria-label="Закрыть меню", data-menu-close)
                    span(class="burger__line-close")
        div(class="burger-wrapper")
                button(class="btn-reset burger", aria-label="Открыть меню", aria-expanded="false", data-burger)
                    span(class="burger__line")
        div(class="header__contacts")
            a(class="contacts-number", href="tel:+7 800 200 30 71") +7 800 200 30 71
                