html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2{
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 160%;
  color:$primary;
  
  margin-bottom: 1.875rem;
  border: 0;
  border-bottom: 0.5px;
  border-style: solid;
  border-image: $purple-grad;
  @media(max-width:1599.98px){
    @include adaptiv(font-size, 2.5, 1.7)
  }
}
body,
html {
  height: 100%;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
}

[class*="_container"] {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1645px;
  overflow:hidden;

  @media(max-width:940.98px) {
    max-width: 768.98px;
  }

  @media(max-width:768.98px) {
    max-width: none;
    padding: 0 0.7rem;
  }
}
section > div> h2,p {
  @media(max-width:991.98px){
    padding: 0 0.5rem;
  }

}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
section{
  font-family: "Montserrat-Light", sans-serif;
  color: $primary;
  font-size: 1.125rem;
  line-height: 160%;
  @media(max-width:768.98px){
    font-size: 1rem;
}
@media(max-width:768.98px){
    font-size: 0.8rem;
}
}
.section-padding {
  margin-bottom: 8.75rem;

  @media(max-width:1599.98px) {
    margin-bottom: 8vw;
  }
}

// SUB CLASSES
.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}