section#experts.experts.section-padding 
    .experts__container 
        h2 Эксперты
        p.text Наши эксперты готовы провести аудит Вашего бизнеса по всем критериям, провести
        p.text анализ конкурентов и разработать план мероприятий по увеличению уровня продаж
        
        .experts__block 
            .experts__main 
                .experts__horizontal
                    span.experts__main-hori Генеральный директор Digital-компании Онлайн-Сервис
                img(class="experts__img", src="/img/main/experts-1.webp", width="698", height="654" loading="lazy" alt="Директор Дмитрий Гуленок")
                .experts__textwrap 
                    .experts__text 
                        p.experts__title Дмитрий Гуленок
                        
                        p.text.experts__info
                            span.experts__info-bold 12 лет 
                            | в интернет-маркетинге
                        
                        p.text.experts__info 
                            span.experts__info-bold 13 лет 
                            | в разработке сайтов
                        
                        p.experts__info 
                            span.experts__info-bold 10 лет 
                            | в направлении внедрение CRM
                        
                        p.experts__info 
                            span.experts__info-bold Более 500 
                            | успешно запущенных 
                            span.experts__info-minibold проектов 
                            |в активе
                        
                        p.experts__info 
                            span.experts__info-bold Более 150 
                            | сайтов продвинуто в 
                            span.experts__info-minibold ТОП-10 
                            | поисковых систем Яндекс и Google
                        
                        p.experts__info 
                            span.experts__info-bold Более 50 
                            | рекламных компаний настроено
                        
                        p.experts__info 
                            span.experts__info-bold 75 
                            | внедрений Битрикс24.CRM

            .experts__bottom 


