section#factors.factors.section-padding
    .factors__container
        h2.factors__title Основные факторы
        p.factors__text Основные цели каждого предприятия - это рост выручки и увеличение уровня продаж. 
        p.factors__text Данные показатели зависят от многих факторов, мы выделяем основные:
        .factors__services 
            .factors__services--wrapper(data-aos="fade-up"  data-aos-delay="50" data-aos-duration="1000")
                img.factors__services--img(src="/img/main/factors-net.svg", loading="lazy", width="60", height="60", alt="Иконка факторов системы" )
                p.factors__services--text Качественные брендированные интернет-ресурсы
            .factors__services--wrapper(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1200") 
                img.factors__services--img(src="/img/main/factors-loop.svg", loading="lazy", width="60", height="60", alt="Иконка факторов системы" )
                p.factors__services--text Представление в поисковой выдаче Яндекс и Google
            .factors__services--wrapper(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1400") 
                img.factors__services--img(src="/img/main/factors-megaphone.svg", loading="lazy", width="60", height="60", alt="Иконка факторов системы" )
                p.factors__services--text Реклама в сети интернет по самым конверсионным каналам
            .factors__services--wrapper(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1600") 
                img.factors__services--img(src="/img/main/factors-ppl.svg", loading="lazy", width="60", height="60", alt="Иконка факторов системы" )
                p.factors__services--text Систематизация работы с клиентами в CRM