section(class="hero")
    div(class="hero__container")
        div(class="hero__inner")
            //- img(class="hero__back",src="./img/main/bcg-main.webp", loading="lazyload", alt="Задний фон блока Hero")
            div(class="hero__main")
                p(class="hero__title") Разбор Вашего бизнеса
                p(class="hero__subtitle") экспертами digital-маркетинга
                button(class="btn-reset btn hero__btn") Заказать разбор