section(class="interview section-padding" id="interview")
    div(class="interview__container")
        h2 Интервью
        p(class="text-block interview__text")
            | Интервью с руководителем компании или владельцем бизнеса длится 
            span(class="text-bold") 30 минут в формате видеовстречи.

        p(class="text-block interview__text")
            | Встречу со стороны компании «Онлайн-Сервис» проводят специалисты с
            | опытом продвижения в сети интернет более 15 лет:
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .card
                        img.card__img(src="./img/main/dir.webp", loading="lazy", width="533" height="418" alt="Логотип Online-Service")
                        p.card__name(class="text-bold") Дмитрий Гуленок
                        p.card__job Генеральный директор
                .swiper-slide 
                    .card
                        img.card__img(src="./img/main/mark.webp", loading="lazy", width="533" height="418" alt="Логотип Online-Service")
                        p.card__name(class="text-bold") Сергей Ковширов
                        p.card__job Ведущий специалист отдела маркетинга
                .swiper-slide 
                    .card
                        img.card__img(src="./img/main/mang.webp", loading="lazy", width="533" height="418" alt="Логотип Online-Service")
                        p.card__name(class="text-bold") Вячеслав Лебедев
                        p.card__job Менеджер отдела продаж